{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - {{ title }} {% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Following</h1>
</div>
<ul class="posts">
    {% for userr in followed_by %}
    {% if userr.user != user %}
      <li class="follow">
        <div class="profile-thumbnail">
          <a href="{{ url_for('.user', username=userr.user.username) }}">
            <img class="img-rounded profile-thumbnail" src="{{ userr.user.gravatar(size=40) }}">
          </a>
        </div>
        <div class="follow-author">
            <a href="{{ url_for('.user', username=userr.user.username) }}">{{ userr.user.username }}</a>
        </div>
        <div class="follow-date">{{ moment(userr.timestamp).format('L') }}</div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

{% endblock %}